.card{
    border: 2px solid #fff;
    max-width: 300px;
    padding: 20px 10px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px gray;
}

.card img{
    width: 100%;
    border-radius: 18px;

}